:host {
	font-family: sans-serif;
	display: block;
}

#userInput {
	padding: 1rem;
	margin: 1rem;
	width: 20rem;
	max-width: 100%;
	border: 1px solid black;
}

#chartContainer {
	padding: 1rem;
	margin: 1rem;
	/* width: 50rem; */
	/* max-width: 100%; */
	border: 1px solid black;
}

svg #chartArea {
	fill: white;
	/* debug */
	/* stroke: red; */
}

svg .chartDayDark {
	fill: rgb(31, 31, 83);
}

svg .chartDaylight {
	/* fill: rgb(205, 205, 255); */
	fill: rgb(151, 151, 190);
}

svg .xGridline,
svg .yGridline {
	stroke: gray;
}

svg .tideMarker {
	fill: rgb(0, 255, 236);
	/* fill: rgb(255, 198, 124); */
}

svg .tideSineWave {
	stroke: rgb(0, 255, 236);
	stroke-width: 3px;
	fill: none;
}

svg .yTickLabel {
	fill: black;
}

/*
this should work below! except I suck at css
https://codepen.io/c0un7z3r0/pen/LZWXEw
*/

.xAxisDaylightLabel span {
	position: relative;
	display: none;
}
.xAxisDaylightLabel:hover span {
	position: absolute;
	top: 0px;
	left: 100px;
	display: block;
	background: red;
	color: white;
	padding: 6px;
	z-index:100;
}

.xAxisDaylightLabel:hover {
	color: red;
}
